a{
    -webkit-text-fill-color:#04B404;
        -webkit-text-stroke:1px;
        text-decoration: none;
}
.uno a{
font-family: "verdana";
    background-color: #FA5858;
        -webkit-text-stroke:1px;
        -webkit-text-stroke-color:black;
        border-radius: 10px;
        border: 5px solid #FE642E;
        -webkit-box-shadow: 8px 8px 10px 0px #FAAC58;
                

}
h4{
    -webkit-text-fill-color:#04B404;
        -webkit-text-stroke:1px;
    text-decoration: none;
    display: block;
    height:30px;
    border:2px solid rgb(0, 128, 6);
    width:150px;
    text-align: center;
    padding-top: 10px;
    background-color:#FE642E;
    color: #fff;
    font-family: "verdana";
    margin: auto;
}
body{
    background-image: url("http://images-cdn.impresa.pt/exameinformatica/2018-03-23-18tdieulhd-leafhelios121.jpg.ximg.l_full_m.smart.jpg/original/mw-860");
    background-size: 100% 100%;
    background-attachment: fixed;
    text-align: center;
    background-color: black;
    }
    
    .contenedor {
        font-family: verdana;
            width: 430px;
            height:400px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 15px;
            border: 2px solid #fe67fe;
               border-radius: 10px;
                background-color: rgb(178, 161, 219);
    }
    .titulo{
         grid-area: titulo;
         border: 2px solid red;
            border-radius: 10px;
            background-color: rgb(55, 54, 56);
            -webkit-text-fill-color:#F4FA58;
         -webkit-text-stroke:2px; 
    }
    .Nombre{
        grid-area: nombre;
        -webkit-text-fill-color:#04B404;
         -webkit-text-stroke:1px;
    }
    .Contraseña{
        grid-area: contraseña;
        -webkit-text-fill-color:#04B404;
        -webkit-text-stroke:1px;
    }
    .Sesion{
        grid-area: sesion;
        
    }
    .Conocenos{
        grid-area: conocenos;
        -webkit-text-fill-color:#04B404;
        -webkit-text-stroke:1px;
    }